<!doctype html>
<html lang="en">
  <head>
    {% include  head-contact.html %}

  </head>
  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
          {% include  header.html %}
      </header>

      {{content}}


    <footer class="mdl-mega-footer">
         {% include  footer.html %}
    </footer>
  </main>
</div>
</body>
</html>
